body {
    font-family: 'Times New Roman', Times, serif;
}

table {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

table.td {
    width: 100%;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
}

div.mainBlock {
    width: 66%;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 30px;
}

li {
    display: inline;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background: grey;
}

a.current {
    background-color: green;
}