body {
    background-color: #dddddd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
}

.dashboard-main {
    display: flex;
    background-color: white;
    position: absolute;
    left: 5%;
    right: 5%;
}

.gift-purchase {
    background-color: white;
    text-align: center;
    flex: 1;
}

.user-lists {
    background-color: grey;
    text-align: center;
    flex: 1;
}

.col1 {
    width: 15%;
    text-align: left;
}

.col2 {
    width: 75%;
}

select {
    width: 100%;
}

form {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

input {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

a:hover {
    background-color: grey;
}

header > .right {
    float: right;
}

.right > .current {
    background-color: green;
}

main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

main > .center {
    text-align: center;
}

h1 {
    text-align: center;
}

div.form-submission {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}