body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header {
    background-color: black;
    color: white;
    padding: 1rem;
}

.main {
    display: flex;
    background-color: white;
    position: absolute;
    left: 5%;
    right: 5%;
}

.gift-purchase {
    flex: 1;
    background-color: green;
    text-align: center;
}

.user-lists {
    flex: 1;
    background-color: blue;
    text-align: center;
}

.col1 {
    width: 15%;
    text-align: left;
}

.col2 {
    width: 75%;
}

select {
    width: 100%;
}

form {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

input {
    width: 100%;
}