body {
    background-color: #dddddd;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
}

.dashboard-main {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    background-color: white;
    position: absolute;
    left: 5%;
    right: 5%;
    background-color: #dddddd;
}

.gift-purchase, .user-lists{
    background-color: white;
    text-align: center;
    border-style: solid;
}

.user-lists > a {
    color: black;
}

.col1 {
    width: 15%;
    text-align: left;
}

.col2 {
    width: 75%;
}

select {
    width: 100%;
}

form {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

input {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

a:hover {
    background-color: grey;
}

header > .right {
    float: right;
}

.right > .current {
    background-color: green;
}

main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

main > .center {
    text-align: center;
}

h1 {
    text-align: center;
}

div.form-submission {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}